ul.comma-sep {
    list-style: none
}
ul.comma-sep li {
    display: inline-block;
    padding-right: 0.25em;
}
ul.comma-sep li:after {
    content: ", ";
}
ul.comma-sep li:last-child:after {
    content: "";
}

table.skills-table {
    background: black;
    color: white;

}
table.skills-table td.skill-full {
    background-color: green
}

table.skills-table td.skill-partial {
    background-color: yellow
}
header h1 {
    display: inline-block
}

.cv-body {
    margin-top: 3em;
    position: relative
}

* {
    font-family: Lato, "Helvetica Neue",Helvetica,Arial,sans-serif
}